@using favapp.Services
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <span class="me-2">Hello, @context.User.Identity?.Name!</span>
        <button class="nav-link btn btn-link d-inline" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/login" class="btn btn-primary">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    // Ajout du async Task
    public async Task BeginLogOut()
    {
        var customProvider = (CustomAuthStateProvider)AuthStateProvider;

        // Ajout du await
        await customProvider.SeDeconnecter();

        Navigation.NavigateTo("/");
    }
}