@using favapp.Services
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

@* <summary>
    Composant d'interface utilisateur gérant l'affichage dynamique de l'état de session.
    Affiche le nom de l'utilisateur et un bouton de déconnexion s'il est authentifié.
    Affiche un bouton de connexion s'il s'agit d'un visiteur anonyme.
    Généralement placé dans la barre de navigation principale (MainLayout).
    </summary>
*@

<AuthorizeView>
    <Authorized>
        <span class="me-2">Hello, @context.User.Identity?.Name!</span>
        <button class="nav-link btn btn-link d-inline" @onclick="BeginLogOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="/login" class="btn btn-primary">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    /// <summary>
    /// Déclenche le processus de déconnexion de l'utilisateur.
    /// Fait appel au CustomAuthStateProvider pour vider le LocalStorage et réinitialiser l'état en mémoire,
    /// puis redirige instantanément l'utilisateur vers la page d'accueil de l'application.
    /// </summary>
    /// <returns>Une tâche asynchrone représentant l'opération de déconnexion.</returns>
    public async Task BeginLogOut()
    {
        var customProvider = (CustomAuthStateProvider)AuthStateProvider;

        
        await customProvider.SeDeconnecter();

        Navigation.NavigateTo("/");
    }
}