@page "/"
<!-- ajouter le chemin dans le _imports pour ne plus à avoir à spécifier tout le chemin-->
@inject favapp.Services.ITmdbService TmdbService 


@* <summary>
    Composant principal (Page d'accueil) de l'application.
    Affiche une grille responsive des films actuellement populaires en interrogeant l'API TMDB.
    </summary>
*@
<PageTitle>Favapp</PageTitle>

<h1>Bienvenue sur Favapp</h1>


<h3>Film du moment</h3>
@if (Movies == null)
{
    <p>Chargement du contenu</p>
}
else{
    <div class="row">
        @foreach (var movie in Movies) // Analyser ce que je veux faire et decouper en probleme ATOMIQUE et regler tous ces petites taches pour realiser la grosse
        {
            <div class="col-6 col-md-4 col-lg-3 mb-4">
                <div class="card h-100">
                    <img src="https://image.tmdb.org/t/p/w200@(movie.PosterPath)" class="card-img-top"  />
                    <div class="card-body">
                        <h5>@movie.Title</h5>
                        <p>Genres : @string.Join(", ", movie.Genre)</p>
                        <p>Date de sortie : @movie.ReleaseDate</p>
                        <p>Note des utilisateurs : @movie.VoteAverage</p>
                        <a href="/movie/@movie.Id" class="btn btn-primary mt-auto">Voir les détails</a>
                    </div>
                </div>
            </div>
        }
    </div>
}



@code{
    /// <summary>
    /// Liste des films populaires récupérés depuis l'API.
    /// Vaut 'null' tant que la requête HTTP n'est pas terminée.
    /// </summary>
    private List<Models.Movie>? Movies { set; get; } = null;

    /*
     * 1. La différence entre Task et Task<T>
        Regarde bien la différence de signature entre ton Service et ta Page :

            Dans ton Service (GetPopularMovieAsync) :
            Tu as écrit Task<List<Movie>>.
            Le <...> signifie : "Je promets de te ramener un paquet".
            -> Donc tu es obligé de faire return maListe;.

            Dans ta Page (OnInitializedAsync) :
            Tu as écrit Task (tout court, sans chevrons <>).
            Cela signifie : "Je promets juste de faire le boulot".
            -> C'est l'équivalent asynchrone du void.
           
     */
    // Task<UnTruc> : Tu DOIS faire return unTruc;
        //Si on te pose une question (Task<Reponse>), tu dois écrire une réponse.
    // Task : Tu NE FAIS PAS de return
        //Si on te dit juste "Fais la vaisselle" (Task), tu ne réponds rien. Le simple fait d'avoir fini (d'arriver au bout de la tâche) suffit.

    /// <summary>
    /// Méthode du cycle de vie Blazor déclenchée à l'initialisation du composant.
    /// Fait appel au service TMDB pour remplir la liste des films.
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        Movies = await TmdbService.GetPopularMovieAsync();
    }
}

<!--
    wwwroot : dossier de contenu statique CSS, JS, images, librairies

    models : classe C# pour representer les données que l'application utilise

    Views : un dossier par controller



    Layout : doit contenir tout les elements commun à l'application Header footer Nav ...


    Middleware c'est un composant logiciel, dans lequel la requete http passe, permettant d'ajouter de la logique (rien compris)

    _imports : permet de rajouter tous les using et donc ne pas avoir besoin de specifier tout le chemin quand on doit importer.


-->